<div id="button_like">
    <% if like  %>
     <%= button_to like_path(like), class:"fa-heart ", method: :delete do %>
        <i class="fa-solid fa-heart" style="color: #ff4013;"></i>
      <% end %>
    <% else %>
      <%= button_to capsule_likes_path(capsule),class:"fa-heart ", method: :post do %>
        <i class="fa-regular fa-heart"></i>
      <% end %>

    <% end %>
  <span><%= capsule.likes.count %> Likes</span>
</div>
