<div class="marker-style-default marker-style-<%= capsule.category %>">
<% case capsule.category %>
<% when "history" %>
  <i class="fa-solid fa-landmark"></i>
<% when "architecture" %>
  <i class="fa-solid fa-building"></i>
<% when "nature" %>
  <i class="fa-solid fa-leaf"></i>
<% when "love" %>
  <i class="fa-solid fa-heart"></i>
<% when "horreur" %>
  <i class="fa-solid fa-spider"></i>
<% when "fantasy" %>
  <i class="fa-solid fa-hat-wizard"></i>
<% when "art" %>
  <i class="fa-solid fa-masks-theater"></i>
<% else %>
  <i class="fa-solid fa-question"></i>
<% end %>
</div>
