<div class="wrapper" data-controller="recorder2">

  <%# Bloc qui contient le visualizer + les boutons record et stop %>
  <section class="main-controls">
    <canvas class="visualizer"></canvas>
    <div id="buttons">
      <button class="record"><i class="fa-solid fa-microphone"></i></button>
      <button class="stop"><i class="fa-solid fa-stop"></i></button>
      <button class="redo"><i class="fa-solid fa-rotate-right"></i></button>
    </div>
  </section>
  <%# Affiche le contenu une fois la capsule enregistrée %>
  <section class="sound-clips"></section>
</div>
