<div>
  <button id="replay-button" class="fa-solid fa-rotate-left"></button>
  <textarea class="feedback-container" id="feedback" placeholder="reviews"></textarea>
  <% if true%>
        <div>
        <i class="fa-solid fa-heart" style="color: #74C0FC;"></i>
        </div>
      <% else %>
        <div>
          <i class="fa-regular fa-heart"></i>
        </div>
      <% end %>
</div>
