<div class="centre">
  <button data-action="click->audio-reviews#replayAudio" data-audio-reviews-target="replayButton">
          <i class="fa-solid fa-rotate-left pb-1"></i>
  </button>
</div>

<textarea class="form-control" id="reviewInput" rows="3" placeholder="Your feedback" style="height: 48px; border-radius: 5px;"></textarea>
