<div class="centre">
  <button  class="return" data-action="click->audio-reviews#replayAudio" data-audio-reviews-target="replayButton" style="display: none;">
          <i class="fa-solid fa-rotate-left"></i>
  </button>
</div>

<div class="feedback-container" >
  <textarea id="feedback" placeholder="reviews"></textarea>
</div>
  <% if true%>
        <div>
        <i class="fa-solid fa-heart" style="color: #74C0FC;"></i>
        </div>
      <% else %>
        <div>
          <i class="fa-regular fa-heart"></i>
        </div>
      <% end %>
</div>
