  <div id="right-menu" class="side-menu">
    <button class="btn close-btn" data-action="click->menu#closeRightMenu">×</button>
    <h2>Exploration</h2>
    <ul class="categories">
      <li>All</li>
      <li>Pro</li>
      <li>Gold</li>
      <li>Tendances</li>
      <li>Views</li>
    </ul>
  </div>
