  <div id="left-menu" class="side-menu">
    <button class="btn close-btn" data-action="click->menu#closeLeftMenu">×</button>
    <h2>My capsules</h2>
    <ul>
      <li>
        bla bla bla
      </li>
      <li>
        Blablabla
      </li>
    </ul>
  </div>
