
audio::-webkit-media-controls-play-button{
  color:#fdf6e3 ;
  background-color: #fdf6e3;
}
audio::-webkit-media-controls-panel{
  color:#fdf6e3 ;
  background-color: #fdf6e3;
  text-align: center;

}
