.button-return {
  font-size: 12px;
  padding: 5px 10px;
  color: #333;
  cursor: pointer;
  transition: color 0.3s ease;
}

.button-return:hover {
  color: rgb(129, 129, 239);
}

.feedback-container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; 
}
