.capsule {
  width: 100px;
  background-color: rgb(29, 28, 28);
  color: #fff;
  text-align: center;
  font-size: larger;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  padding: 0px;
  margin: auto;
  margin-top: auto;
  border-radius: 10px;
  position: relative;
}

.logo-back {
margin: 0;
position: absolute;
z-index: 1;
right: 176px;
margin-top: 10px;
}
