.capsule {
  width: 100px;
  background-color: rgb(29, 28, 28);
  color: #fff;
  text-align: center;
  margin: auto;
  margin-top: auto;
  border-radius: 10px;
  position: relative;
}

.logo-back {
width: 100% ;
display: flex;
justify-content: center;
align-items: center;
margin: 0;
position: absolute;
z-index: 1;

margin-top: 0px;
}
