.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  width: 130%;
  max-width: 250px;
  background-color: #fdf6e3;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  font-family: Arial, sans-serif;
  transition: transform 0.3s;
  height: 465px;
  padding: 10px;
}

.mapboxgl-popup-close-button {
  font-size: 22px;
  padding: 4px;
  padding-right: 8px;
}

.mapboxgl-ctrl-logo {
  display: none !important;
}

.mapboxgl-ctrl-attrib {
  display: none !important;
}
