// Markers styles
// Categories: histoire, art, love, architecture, temporaire, cachée, horreur, légende, nature, fantasy
.marker-style-default {
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
}

.marker-style-all {
  background-color: gray;
  color: white;
}

.marker-style-histoire {
  background-color: #DEAA79;
  color: black;
}

.marker-style-nature {
  background-color: #8FD14F;
  color: black;
}

.marker-style-architecture {
  background-color: #B44C3B;
  color: black;
}

.marker-style-love {
  background-color:  #FFCCEA;
  color: black;
}

.marker-style-horreur {
  background-color: #d40404 ;
  color: black;
}

.marker-style-art {
  background-color: #ff7300;
  color: black;
}

.marker-style-fantasy {
  background-color: #40E0D0;
  color: black;
}
