
.side-menu {
  position: fixed;
  top: 0;
  width: 300px;
  height: 100%;
  background-color: #FDF6E3;
  z-index: 1000;
  overflow-y: auto;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#left-menu {
  left: 0;
  transform: translateX(-100%);
}

#right-menu {
  right: 0;
  transform: translateX(100%);
}

#main-content {
  transition: transform 0.3s ease-in-out;
}

.side-menu.open {
  transform: translateX(0);
}

#main-content.shift-left {
  transform: translateX(300px);
}

#main-content.shift-right {
  transform: translateX(-300px);
}

.close-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.left-burger,
.right-burger {
  position: fixed;
  top: 50px;
  z-index: 1100;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  background-color: #ffffffdd;
  border: none; /* Pas de bordure */
  border-radius: 8px; /* Coins arrondis */
  padding: 0px; /* Espacement interne */
  transition: background-color 0.3s ease, transform 0.2s ease;
  width: 50px; /* Largeur du carré */
  height: 50px; /* Hauteur identique à la largeur */
  display: flex; /* Utilisé pour centrer le contenu */
  justify-content: center; /* Centrage horizontal du contenu */
  align-items: center;
}

.left-burger i,
.right-burger i {
  color: #000000f4; /* Couleur blanche */
}

.left-burger:hover,
.right-burger:hover {
  background-color: rgb(255, 255, 255);
  transform: scale(1.1);
}

.left-burger:active,
.right-burger:active {
  background-color: #b7b7b7;
}

.left-burger {
  left: 20px;
}

.right-burger {
  right: 20px;
}

.custom-container {
  background-color: #fff9e8;
  border-radius: 15px;
}

.custom-active-btn {
  background-color: #0B173F;
  border: none;
}

.custom-default-btn {
  border-color: #d0d0d0;
  color: #666;
}
